<h1>This is Feedbacks board </h1>
<h2>Event-title:<%= @event.name%></h2>
<h2>Content: <%= @event.content %></h2>

<table class="table">	

<tr>
	<td>Feedbacks</td>
	<td>Control</td>

</tr>

<tr>
	<% @feedbacks.each do |fe|%>

	<td>
		<%= fe.content %>

	</td>

	<td>
	<%= link_to "Show", event_feedback_path(@event, fe), :class => "btn btn-primary"%>

	<%= link_to "Edit", edit_event_feedback_path(@event, fe), :class => "btn btn-default"%>

		<%= link_to "Delete", event_feedback_path(@event, fe), :method =>"delete", :data => { :confirm => "Sure?"}, :class => "btn btn-danger"%>
	
	</td>
</tr>

<%end%>
</table>


<%= link_to "New Feedback", new_event_feedback_path(@event),:class => "btn btn-primary"%>

<%= link_to "Events Index", events_path(@event),:class => "btn btn-primary"%>