<h1>Typhon Events</h1>





<table class="table">
<tr>
	<td>Title</td>
	<td>Post Time</td>
	<td>Feedback</td>
	<td>Control</td>

</tr>


<% @events.each do |e| %>
  <tr>
  	<td>
    <%= e.name %>
    |
    <%= e.category.try(:name) %>


    </td>



	<td>
	<%= e.created_at %>

	</td>

	<td>
		<%= link_to "Feedback", event_feedbacks_path(e), :class => "btn btn-primary" %>
	</td>

    <td>

		<%= link_to "Show", event_path(e), :class => "btn btn-primary" %>


		
		<%= link_to "Edit", events_path(:event_id => e), :class => "btn btn-default" %>
		
		<%= link_to 'Delete', event_path(e), :method => :delete,:data =>{:confirm =>"R U SURE???"}, :class => "btn btn-danger" %>


  	</td>
  </tr>
<% end %>
</table>

<hr>
<%= link_to 'New Event', events_path,:class => "btn btn-default" %> 





<%= paginate @events %>

<%= form_for @event do |f| %>
    
	<% if @event.errors.any? %>
      <ul>
          <% @event.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
      </ul>
  <% end %>

	<%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Submit",:class => "btn btn-primary" %>
<% end %>

